[submodule "bundle/dbext.vim"]
	path = bundle/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "bundle/tubular"]
	path = bundle/tubular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/tpope-vim-abolish"]
	path = bundle/tpope-vim-abolish
	url = https://github.com/tpope/tpope-vim-abolish.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-visual-start-search"]
	path = bundle/vim-visual-start-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
